{% comment %}
  @param filter_style {String}
    Type of filtering style, 'none', 'tags', or 'groups'

  @param filter_position {String}
    Where to position filters, 'above_menus', or 'below_menus'

  @param filter_limit {String}
    How many tags (non grouped) should show

  @param menu_depth {String}
    How many child menus to show
    
  @param show_prod_count {Bool}
    Show product count on collection menu links
{% endcomment %}

<div class="productgrid--sidebar">

  {% if filter_position == 'above_menus' %}
    {% include 'product-grid-sidebar-filters' %}
  {% endif %}

  {% comment %}
    Collection menus
  {% endcomment %}
  {% if section.blocks.size > 0 %}
    {% assign sidebar_menu_depth = menu_depth | times: 1 %}

    <nav
      aria-label="{{ 'general.accessibility.nav_sidebar' | t }}"
      class="productgrid--sidebar-section"
    >
      {% assign menu_blockstest = section.blocks | where: "type", "menu" %}
      {% for block in menu_blockstest %}
      
      	{% if block.settings.collection == collection.handle %}
          {% assign menu = block.settings.menu %}

          {% if linklists[menu] == blank or linklists[menu].links.size == 0 %}
            {% comment %}
              Exit iteration if a menu doesn't exist, or selected menu has no links
            {% endcomment %}
            {% break %}
          {% endif %}

          <h2 class="productgrid--sidebar-title">
            <span data-i18n='{% render 'translationData' with  linklists[menu].title  %}'>{% render 'translationText' with  linklists[menu].title  %}</span>
          </h2>

          <div class="productgrid--sidebar-item productgrid--sidebar-menu">
            {%
              include 'navlist',
              menu_list: linklists[block.settings.menu].links,
              depth: 1,
              max_depth: sidebar_menu_depth,
              aria_expanded: true,
              show_collection_product_count: show_prod_count
            %}
          </div>
      	{% endif %}
      {% endfor %}
    </nav>
  {% endif %}

  {% unless filter_position == 'above_menus' %}
    {% include 'product-grid-sidebar-filters' %}
  {% endunless %}
</div>
