<div class="site-mobile-nav" id="site-mobile-nav" data-mobile-nav tabindex="0">
  <div class="mobile-nav-panel" data-mobile-nav-panel>

    {% include 'site-header-actions' %}

    <a
      class="mobile-nav-close"
      href="#site-header-nav"
      data-mobile-nav-close>
      {% include 'icon-menu-close' %}
      <span class="visually-hidden"><span data-i18n='general.accessibility.close'>{{ 'general.accessibility.close' | t }}</span></span>
    </a>

    <div class="mobile-nav-content">
      {%
        include 'mobile-nav-list',
        menu: section.settings.menu,
        blocks: blocks,
      %}
    </div>

  </div>

  <div class="mobile-nav-overlay" data-mobile-nav-overlay></div>
</div>
