<section class="logolist--container">
  {% if section.settings.title != blank %}
  <h2 class="home-section--title">
    <span data-i18n='{% render 'translationData' with  section.settings.title %}'>{% render 'translationText' with  section.settings.title %}</span>
  </h2>
  {% endif %}

  <div class="home-section--content logolist--inner">
    {% for block in section.blocks %}
    <div class="logolist--item" {{ block.shopify_attributes }}>
      {% if block.settings.link != blank %}
      <a class="logolist--link" href="{{ block.settings.link | escape }}" target="_blank">
        {% endif %} {% if block.settings.image %} {% include 'rimg', img:
        block.settings.image, class: 'logolist--image', size: '160x160', lazy:
        true, canvas: true %} {% else %}
        {{
          "image" | placeholder_svg_tag: "placeholder--image logolist--image"
        }}
        {% endif %} {% if block.settings.link != blank %}
      </a>
      {% endif %}
    </div>
    {% endfor %}
  </div>

  <!-- BUTTON HERE  ADDED BY KENDRA -->
  <a href="{{ section.settings.button_url }}" class="button-primary all-brands-btn">
    <span data-i18n='{% render 'translationData' with  section.settings.button_text  %}'>{% render 'translationText' with  section.settings.button_text  %}</span>
  </a>
</section>

{% schema %} { "name": "Logo list", "class": "logolist--section", "max_blocks":
18, "settings": [ { "type": "text", "id": "title", "label": "Heading",
"default": "Logo list" }, { "type": "text", "id": "button_text", "label":
"Button Text", "default": "Toutes les marques || All Brands" }, { "type": "url",
"id": "button_url", "label": "Button Link" } ], "blocks": [ { "type": "logo",
"name": "Logo", "settings": [ { "id": "image", "type": "image_picker", "label":
"Image", "info": "320 x 320px .png recommended" }, { "type": "text", "id":
"link", "label": "Link" } ] } ], "presets": [ { "category": "Image", "name":
"Logo list", "blocks": [ { "type": "logo" }, { "type": "logo" }, { "type":
"logo" }, { "type": "logo" } ] } ] } {% endschema %}