{% if shop.metafields.loox["global_stats"] %}
{% assign looxstats = shop.metafields.loox["global_stats"] | split: "," %}
<div itemscope itemtype="https://schema.org/Product">
<meta itemprop="name" content="{{ shop.name | escape }}"/>
<div itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
<meta itemprop="ratingValue" content="{{ looxstats[0] }}"/>
<meta itemprop="ratingCount" content="{{ looxstats[1] }}"/>
</div>
</div>
{% endif %}
<article class="site-page" data-template-page>
  <header class="page-masthead">
    <h1 class="page-title">
      <span data-i18n='{% render 'translationData' with  page.title  %}'>{% render 'translationText' with  page.title  %}</span>
    </h1>
  </header>

  {% if page.content != blank %}
    <div class="page-content rte">
      <span data-i18n='{% render 'translationData' with  page.content  %}'>{% render 'translationText' with  page.content  %}</span>
    </div>
  {% endif %}
</article>

<div id="looxReviews" data-loox-aggregate="" class="loox-reviews-default"></div>